/* Преимущества городка Седона */
.advantages {
  text-transform: uppercase;
  text-align: center;
}

.advantages__list,
.advantages__item,
.advantages__better-grand-canyoun,
.advantages__title,
.advantages__number,
.advantages__description {
  .indents-zero();
}

.advantages__better-grand-canyoun {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 26px;
}

.advantages__list {
  list-style: none;
}

.advantages__title {
  padding-top: 32px;
  font-size: 18px;
  line-height: 26px;
  color: @text-color-title;
}

.advantages__number {
  padding-top: 16px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 21px;
  color: @text-color-description;
}

.advantages__description {
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 21px;
  color: @text-color-description;
}

.advantages__item--first,
.advantages__item--second {
  background-color: @background-main;
}

.advantages__list--third {
  background-color: @background-add;
}

/* За каскадом, чтобы не зависело от расположения кода */
.advantages__item--first .advantages__title,
.advantages__item--first .advantages__number,
.advantages__item--first .advantages__description,
.advantages__item--second .advantages__title,
.advantages__item--second .advantages__number,
.advantages__item--second .advantages__description {
  color: @text-color-link;
}

/* Отступы между строчек. Для первого и второго преимущества разные */
/* За каскадом, чтобы не зависело от расположения кода */
.advantages__item--first .advantages__title {
  padding-top: 60px;
}

.advantages__item--first .advantages__number {
  padding-top: 14px;
  padding-bottom: 18px;
}

.advantages__item--first .advantages__description {
  padding-bottom: 42px;
}

.advantages__item--second .advantages__title {
  padding-top: 43px;
}

.advantages__item--second .advantages__number {
  padding-top: 14px;
  padding-bottom: 18px;
}

.advantages__item--second .advantages__description {
  padding-bottom: 42px;
}

.advantages__city {
  width: 320px;
  height: 260px;
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.advantages__bridge {
  width: 320px;
  height: 260px;
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media(min-width: @tablet-width) {
  .advantages__city {
    width: 512px;
    background-image: url("../img/main-city-mobile@1x.jpg"); //похоже, должно быть другое изображение. Это маленькое
  }

  .advantages__bridge {
    width: 512px;
    background-image: url("../img/main-bridge-mobile@1x.jpg"); //похоже, должно быть другое изображение. Это маленькое
    order: -1;
  }

  .advantages__item--first,
  .advantages__item--second {
    display: flex;
    align-items: center;
  }

  .advantages__list--third {
    display: flex;
    justify-content: space-between;
    min-height: 256px; //временно, для черновой верстки
  }
}

@media(min-width: @desktop-width) {
  .advantages__city {
    width: 900px;
    background-image: url("../img/main-city-mobile@1x.jpg"); //похоже, должно быть другое изображение. Это маленькое
  }

  .advantages__bridge {
    width: 900px;
    background-image: url("../img/main-bridge-mobile@1x.jpg"); //похоже, должно быть другое изображение. Это маленькое
    order: -1;
  }

  .advantages__item--first,
  .advantages__item--second {
    display: flex;
    align-items: center;
  }

  .advantages__list--third {
    display: flex;
    justify-content: space-between;
    min-height: 256px; //временно, для черновой верстки
  }
}
