/* Преимущества городка Седона */
.advantages {
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: @mobile-width;
}

.advantages__list,
.advantages__item,
.advantages__better-grand-canyoun,
.advantages__title,
.advantages__number,
.advantages__description {
  .indents-zero();
}

.advantages__better-grand-canyoun {
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  width: @mobile-width - 40px;
  font-size: 14px;
  line-height: 26px;
}

.advantages__list {
  list-style: none;
}

.advantages__title {
  padding-top: 26px;
  margin-left: auto;
  margin-right: auto;
  width: @mobile-width - 40px; //на всякий случай. Вдруг заголовок будет длинным

  font-size: 18px;
  line-height: 26px;
  color: @text-color-title;
}

.advantages__number {
  .padding-for-mobile-text(); //на всякий случай. Вдруг номер будет длинным
  padding-top: 9px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  color: @text-color-description;
}

.advantages__description {
  .padding-for-mobile-text();
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 21px;
  color: @text-color-description;
}

.advantages__item--fifth .advantages__description {
  /* Особые отступы, чтобы одну букву перенестий! */
  padding-left: 31px;
  padding-right: 31px;
}

.advantages__item--first,
.advantages__item--second {
  background-color: @background-main;
}

.advantages__item--first {
  position: relative;
}

.advantages__item--first::before {
  content: "";

  position: absolute;
  top: -22px;
  left: 0;
  width: 320px;
  height: 37px;

  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.advantages__list--third {
  background-color: @background-add;
}

/* За каскадом, чтобы не зависело от расположения кода */
.advantages__item--first .advantages__title,
.advantages__item--first .advantages__number,
.advantages__item--first .advantages__description,
.advantages__item--second .advantages__title,
.advantages__item--second .advantages__number,
.advantages__item--second .advantages__description {
  .padding-for-mobile-text();
  color: @text-color-link;
}

/* Отступы между строчек. Для первого и второго преимущества разные */
/* За каскадом, чтобы не зависело от расположения кода */
.advantages__item--first .advantages__title {
  .indents-zero();
  padding-top: 54px;
  margin-left: auto;
  margin-right: auto;
  width: @mobile-width - 40px;
}

.advantages__item--first .advantages__number {
  padding-top: 9px;
  padding-bottom: 16px;
}

.advantages__item--first .advantages__description {
  padding-bottom: 40px;
}

.advantages__item--second .advantages__title {
  .indents-zero();
  padding-top: 39px;
  margin-left: auto;
  margin-right: auto;
  width: @mobile-width - 40px;
}

.advantages__item--second .advantages__number {
  padding-top: 10px;
  padding-bottom: 14px;
}

.advantages__item--second .advantages__description {
  padding-bottom: 40px;
}

.advantages__item--fourth,
.advantages__item--fifth {
  position: relative;
}

.advantages__item--fourth::before,
.advantages__item--fifth::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 20px;
  width: 280px;
  height: 1px;
  background-color: @line-color;
}

.advantages__city {
  .indents-zero();
  width: 320px;
  height: 260px;
}

.advantages__bridge {
  .indents-zero();
  width: 320px;
  height: 260px;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .advantages {
    width: @tablet-width;
  }
  
  .advantages__better-grand-canyoun {
    margin-bottom: 50px;
    width: @tablet-width - 120px;
  }

  .advantages__text {
    width: 256px;
  }

  .advantages__city {
    width: 512px;
    height: 256px;
  }

  .advantages__img-city,
  .advantages__img-bridge {
    /* Для IE */
    width: 512px;
    height: 256px;
  }

  .advantages__bridge {
    width: 512px;
    height: 256px;
    order: -1;
  }

  .advantages__item--first,
  .advantages__item--second {
    display: flex;
  }

  .advantages__item--first::before {
    display: none;
  }

  .advantages__list--third {
    display: flex;
    justify-content: space-between;
  }

  .advantages__list-last-items {
    padding-bottom: 46px;
  }

  .advantages__item--fourth::before,
  .advantages__item--fifth::before {
    display: none;
  }

  .advantages__item--first .advantages__title,
  .advantages__item--first .advantages__number,
  .advantages__item--first .advantages__description,
  .advantages__item--second .advantages__title,
  .advantages__item--second .advantages__number,
  .advantages__item--second .advantages__description {
    .indents-zero();
    margin: 0 auto;
  }

  .advantages__item .advantages__title {
    .indents-zero();
    padding-top: 44px;
    margin: 0 auto;
    width: 151px;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__item .advantages__number,
  .advantages__item .advantages__description {
    .indents-zero();
    width: 168px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
  }

  .advantages__item .advantages__number {
    padding-top: 12px;
  }

  .advantages__item .advantages__description {
    padding-top: 22px;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .advantages__better-grand-canyoun {
    padding-left: 350px;
    padding-right: 350px;
  }

  .advantages__text {
    width: 400px;
  }

  .advantages__item--first {
    height: 256px;
  }

  .advantages__city {
    overflow: hidden;
    width: 800px;
  }

  .advantages__img-city {
    margin-top: -70px;
  }

  .advantages__bridge {
    overflow: hidden;
    width: 800px;
    order: -1;
  }

  .advantages__img-bridge {
    margin-top: -78px;
  }

  .advantages__item .advantages__title {
    padding-top: 44px;
  }

  .advantages__item--first .advantages__title,
  .advantages__item--second .advantages__title {
    padding-top: 51px;
  }

  .advantages__item .advantages__number,
  .advantages__item .advantages__description {
    width: 285px;
  }

  .advantages__item--second .advantages__description {
    width: 230px;
  }

  .advantages__item .advantages__description {
    padding-top: 22px;
  }
}
