.button {
  display: block;
  padding-top: 14px;
  padding-bottom: 18px;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: @background-main;
  color: @text-color-link;
  cursor: pointer;

  &:hover {
    background-color: @background-hover;
  }

  &:active {
    background-color: @background-down;
  }
}