.button {
/*   padding-top: 16px;
  padding-bottom: 16px; */
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: @background-main;
  color: #ffffff;
}
