.comments__title {
  .indents-zero();
  padding-top: 37px;
  padding-bottom: 12px;
  .padding-for-mobile-text();
  font-size: 18px;
  line-height: 26px;
}

.comments__description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 37px;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .comments {
    /* Временно для верстки. */
    min-height: 1650px;
  }

  .comments__title {
    .indents-zero();
    padding-top: 70px;
    padding-bottom: 12px;
    .padding-for-tablet-text();
    font-size: 30px;
    line-height: 35px;
  }

  .comments__description {
    .padding-for-tablet-text();
    font-size: 14px;
    line-height: 24px;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .comments {
    /* Временно для верстки. */
    min-height: 1490px;
  }

  .comments__title {
    padding-top: 107px;
    .padding-for-desktop-text();
  }

  .comments__description {
    .padding-for-desktop-text();
  }
}
