/* Контакты и карта */
.contacts {
  text-transform: uppercase;
  text-align: center;
}

.contacts__title,
.contacts__description,
.contacts__description-mobile {
  .indents-zero();
}

.contacts__title {
  padding-top: 26px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: @mobile-width - 40px;
  font-size: 21px;
  line-height: 26px;
  color: @text-color-title;
}

.contacts__description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  width: @mobile-width - 40px;
  font-size: 14px;
  line-height: 24px;
  color: @text-color-description;
}

.contacts__link {
  margin-left: auto;
  margin-right: auto;
  width: @mobile-width - 40px;
  text-decoration: none;
}

.contacts__link:active .contacts__label {
  opacity: 0.3;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .contacts__title {
    padding-top: 50px;
    padding-bottom: 28px;
    width: @tablet-width;
    font-size: 30px;
    line-height: 35px;
  }

  .contacts__description {
    padding-bottom: 42px;
    width: @tablet-width;
  }

  /* Для планшета и десктопа переход на новую строку */
  .contacts__description-new-line {
    display: block;
  }

  .contacts__link {
    width: 458px;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .contacts {
    margin-left: auto;
    margin-right: auto;
    width: @desktop-width;
  }

  .contacts__title {
    padding-top: 50px;
  }

  .contacts__description {
    width: @desktop-width;
    padding-bottom: 47px;
  }
}
