.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .indents-zero();
  margin-top: 34px;
  margin-bottom: 32px;
  width: 128px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
}

.copyright__link {
  display: block;
  width: 26px;
  height: 34px;
  fill: #000000;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #000000;
    opacity: 0.3;
  }
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .copyright {
    .indents-zero();
    margin-top: -6px;
  }
}
