.emotions {
  display: flex;
  flex-direction: column;
  position: relative;
  .indents-zero();
  border: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: @line-color;
  }
}

.emotions__label {
  margin: 0 auto;
  margin-top: 2px;
  font-weight: bold;
  text-align: center;
}

.emotions__field {
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 18px;
  width: 100%;
  height: 160px;
  line-height: 26px;
  font-weight: bold;
  background-color: @bg-field-normal;
  border: none;
  box-sizing: border-box;
  resize: none;
  /* можно только по одной оси разрешить тянуться
  resize: vertical;
  */

  &:hover {
    background-color: @bg-field-hover;
  }

  &:focus {
    /* чтобы не дергались значения в полях при установке фокуса уменьшим на ширину border */
    padding-top: 14px;
    padding-left: 18px;
    background-color: transparent;
    border: 2px solid @bg-field-border;
    outline: none;
  }
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .emotions {
    width: 100%;
    order: 5;

    &::before {
      top: 30px;
      left: 0;
      width: 126px;
      height: 1px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      right: 0;
      width: 126px;
      height: 1px;
      background-color: @line-color;
    }
  }

  .emotions__label {
    display: block;
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 21px;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .emotions {
    width: @desktop-width - 240px;
    margin: 0 auto;

    &::before {
      top: 38px;
      left: 0;
      width: 280px;
    }

    &::after {
      top: 38px;
      right: 0;
      width: 280px;
    }
  }

  .emotions__label {
    margin-top: 28px;
    margin-bottom: 40px;
    padding-left: 300px;
    padding-right: 300px;
  }
}
