.figure,
.figure__img,
.figure__author,
.figure__capture,
.figure__title,
.figure__like-link,
.figure__likes-number {
  .indents-zero();
}

.figure {
  padding-top: 18px;
  padding-bottom: 22px;
}

.figure__img {
  margin-bottom: 12px;
}

.figure__title {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.figure__author {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 24px;
  color: @text-color-description;
  text-transform: none;
}

.figure__likes-number {
  font-size: 14px;
  line-height: 24px;
}

.figure__capture {
  text-align: left;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .figure {
    display: flex;
    flex-direction: column;
    .indents-zero();
  }

  .figure__img {
    .indents-zero();
    width: 324px;
    height: 268px;
  }

  .figure__img--foreign {
    width: @tablet-width - 120px;
    height: 400px;
  }

  .figure__capture {
    position: relative;
    background-color: @background-add;
  }

  .figure__title {
    padding-top: 15px;
    padding-left: 20px;
  }

  .figure__author {
    .indents-zero();
    padding-bottom: 15px;
    padding-left: 20px;
  }

  .figure__likes-number {
    position: absolute;
    .indents-zero();
    top: 28px;
    left: 272px;
  }

  .figure__like-link {
    position: absolute;
    .indents-zero();
    top: 30px;
    left: 190px;
  }

  .figure__likes--first .figure__likes-number {
    position: absolute;
    .indents-zero();
    top: 28px;
    left: 595px;
  }

  /* Временно. С графикой нужно будет передалать*/
  .figure__likes--first .figure__like-link {
    position: absolute;
    .indents-zero();
    top: 30px;
    left: 510px;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .figure {
    background: rgba(54, 194, 89, 0.2);
    box-shadow: inset 0 0 0 2px rgb(54, 194, 89);
    z-index: 1000;
  }

  .figure__img {
    width: 400px;
    height: 268px;
  }

  .figure__img--foreign {
    width: @desktop-width;
    height: 400px;
  }

  .figure__capture,
  .figure__title,
  .figure__likes-number,
  .figure__author {
    color: @text-color-link;
  }

  .figure__capture {
    background-color: transparent;
    margin-top: -80px;
  }

  .figure__title {
    padding-top: 16px;
    padding-left: 21px;
  }

  .figure__likes-number {
    left: 348px;
  }

  .figure__like-link {
    left: 265px;
  }

  .figure__likes--first .figure__likes-number {
    left: 1148px;
  }

  /* Временно. С графикой нужно будет передалать*/
  .figure__likes--first .figure__like-link {
    left: 1060px;
  }
}
