.figure,
.figure__img,
.figure__author,
.figure__capture,
.figure__title,
.figure__like-link,
.figure__likes-number,
.figure__text {
  .indents-zero();
}

.figure {
  padding-top: 18px;
  padding-bottom: 22px;
}

.figure__capture {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 11px;
  text-align: left;
}

.figure__text {
  width: 280px;
}

.figure__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.figure__author {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 24px;
  color: @text-color-description;
  text-transform: none;
}

.figure__like-link {
  text-decoration: none; //уберем подчеркивание
}

.figure__like-icon {
  fill: @line-color;
}

.figure__likes {
  display: flex;
}

.figure__likes-number {
  margin-left: 15px;
  font-size: 14px;
  line-height: 24px;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .figure {
    display: flex;
    flex-direction: column;
    .indents-zero();
  }

  .figure__img {
    .indents-zero();
    width: 324px;
    height: 268px;

    &--foreign {
      width: @tablet-width - 120px;
      height: 400px;
    }
  }

  .figure__capture {
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    margin-top: -4px;
    background-color: @background-add;
  }

  .figure__text {
    width: 200px;
    margin-left: 21px;
  }

  .figure__title {
    padding-top: 15px;
  }

  .figure__author {
    .indents-zero();
    padding-bottom: 16px;
  }

  .figure__likes {
    margin-left: 19px;

    &--first {
      margin-left: 343px;
    }
  }

  .figure__likes-number {
    margin-left: 10px;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .figure--other {
    margin-top: -5px;
  }

  .figure__img {
    width: 400px;
    height: 268px;

    &--foreign {
      width: @desktop-width;
      height: 400px;
    }
  }

  .figure__capture,
  .figure__title,
  .figure__likes-number,
  .figure__author {
    color: @text-color-link;
  }

  .figure__capture {
    position: absolute;
    bottom: 5px;
    background-color: transparent;
  }

  .figure__text {
    width: 270px;
  }

  .figure__title {
    padding-top: 16px;
  }

  .figure__likes {
    margin-left: 25px;

    &--first {
      margin-left: 825px;
    }
  }

  .figure__like-icon {
    fill: @text-color-link;
  }
}
