.form__comment-button {
  margin-top: 44px;
  width: 100%;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.form__required-text {
  display: none;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 74px;
  }

  .form__required-text {
    display: block;
  }

  .form__footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
    width: 100%;
    order: 6;
  }

  .form__comment-button {
    margin-top: 0;
    padding-left: 64px;    
    width: 324px;
    text-align: left;
    order: 1;
  }

  .form__required-text {
    padding-top: 2px;
    font-size: 14px;
    order: 2;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .form {
    padding-top: 56px;

    &__footer-wrapper {
      width: 960px;
      margin: 0 auto;
      margin-top: 52px;
    }

    &__comment-button {
      width: 480px;
      padding-left: 0;
      text-align: center;
    }
  }
}