.hashtag,
.hashtag__link {
  .indents-zero();
}

.hashtag {
  margin-top: 33px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.hashtag__link {
  color: @text-color-title;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .hashtag {
    .indents-zero();
  }
}
