.hashtag,
.hashtag__link {
  .indents-zero();
}

.hashtag {
  margin-bottom: 38px;
  text-transform: uppercase;
}

.hashtag__link {
  color: @text-color-title;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .hashtag {
    .indents-zero();
  }

  .hashtag__link--index {
    margin-left: 2px;
    margin-right: -8px;
  }

  .hashtag__link--photo {
    margin-right: -8px;
  }

  .hashtag__link--form {
    margin-right: -7px;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  /* сброс отступов слева и права. Они не нужны в десктопе */
  .hashtag__link--index {
    margin-left: 0;
    margin-right: 0;
  }
}