.hashtag,
.hashtag__link {
  .indents-zero();
}

.hashtag {
  margin-top: 38px;
  margin-bottom: 38px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.hashtag__link {
  color: @text-color-title;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
}
