.introduce-yourself {
  display: flex;
  flex-direction: column;
  position: relative;
  .indents-zero();
  margin-bottom: 24px;
  border: none;
  font-size: 18px;
  line-height: 26px;


  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: @line-color;
  }
}

.introduce-yourself__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .indents-zero();
  margin-bottom: 20px;
}

.introduce-yourself__legend {
  margin-bottom: 22px;
  font-weight: bold;
  text-align: center;
}

.introduce-yourself__label {
  font-size: 14px;
  font-weight: normal;
}

.introduce-yourself__field {
  padding-left: 22px;
  width: 192px;
  height: 58px;
  font-weight: bold;
  background-color: @bg-field-normal;
  border: none;
  box-sizing: border-box;

  &:hover {
    background-color: @bg-field-hover;
  }

  &:focus {
    background-color: transparent;
    border: 2px solid @bg-field-border;
    outline: none;
  }
}

.introduce-yourself__first-name {
  width: 230px;
}

/*   &__field::placeholder {
  padding-top: 0px;
  padding-left: 22px;
} */

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .introduce-yourself {
    width: 266px;
    order: 2;

    &::before {
      top: 5px;
      left: -59px;
      width: 1px;
      height: 292px;
    }
  }

  .introduce-yourself__legend {
    margin-bottom: 57px;
    font-size: 21px;
    text-align: left;
  }

  .introduce-yourself__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .introduce-yourself__field {
    width: 180px;
  }

  .introduce-yourself__first-name {
    width: 216px;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .introduce-yourself {
    width: 400px;

    &::before {
      left: -79px;
    }
  }

  .introduce-yourself__legend {
    margin-bottom: 59px;
  }

  .introduce-yourself__field {
    width: 312px;
  }

  .introduce-yourself__first-name {
    width: 350px;
  }
}
