.main-nav {
  position: relative;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 0;
}

.main-nav__logo {
  display: block;
  text-align: center;
}
