.map {
  .indents-zero();
  margin-top: 48px;
  width: 320px;
  height: 350px;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-size: cover;
  background-position: center 0; 
  background-repeat: no-repeat;
}

/* Задаем картинку для ретины в мобильной версии */
@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .map {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}