.page-header {
  position: relative;
  display: flex;
  flex-direction: column;

  width: @mobile-width;
  margin: 0 auto;

  text-transform: uppercase;
  text-align: center;
  background-color: @background-page;
}

.page-header__img,
.page-header__img--index,
.page-header__img-text--index,
.page-header__img--inner,
.page-header__img-text--inner {
  .indents-zero();
}

.page-header__img {
  margin-top: -32px;
  background-color: @background-img;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

/* Первая страница. Картинка выше, надпись другая */
.page-header__img--index {
  position: relative;
  width: 320px;
  height: 389px;
  background-position-x: -224px;
  background-position-y: 0;
}

.page-header__img--index::after {
  content: "";

  position: absolute;
  top: 362px;
  left: 0;
  width: 320px;
  height: 27px;

  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.page-header__img-text--index {
  margin-top: 90px;
  margin-left: 0;
}

/* Внутренние страницы */
.page-header__img--inner {
  position: relative;
  width: 320px;
  height: 158px;
  background-position-x: -224px;
  background-position-y: -230px;
}

.page-header__img--inner::after {
  content: "";

  position: absolute;
  top: 131px;
  left: 0;
  width: 320px;
  height: 27px;

  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.page-header__img-text--inner {
  margin-top: 52px;
  margin-left: 0;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
  }

  .page-header__img {
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center 0;
  }

  .page-header__img--index {
    margin-top: 0;
    width: @tablet-width;
    height: 518px;
  }

  .page-header__img--index::after {
    top: 462px;
    left: 0;
    width: @tablet-width;
    height: 57px;

    background: rgba(54, 194, 89, 0.2);
    box-shadow: inset 0 0 0 2px rgb(54, 194, 89);

    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }

  .page-header__img-text--index {
    .indents-zero();
    margin-top: -16px;
    width: 460px;
    height: 350px;
  }

  .page-header__img--inner {
    width: @tablet-width;
    margin-top: 0;
    height: 288px;
  }

  .page-header__img--inner::after {
    top: 232px;
    left: 0;
    width: @tablet-width;
    height: 57px;

    background: rgba(54, 194, 89, 0.2);
    box-shadow: inset 0 0 0 2px rgb(54, 194, 89);

    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }

  .page-header__img-text--inner {
    .indents-zero();
    margin-top: -22px;
    width: 456px;
    height: 80px;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
  }

  .page-header__img--index {
    width: @desktop-width;
  }

  .page-header__img--index::after {
    width: @desktop-width;

    background: rgba(54, 194, 89, 0.2);
    box-shadow: inset 0 0 0 2px rgb(54, 194, 89);

    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }

  .page-header__img--inner {
    width: @desktop-width;
    height: 298px;
  }

  .page-header__img--inner::after {
    top: 242px;
    width: @desktop-width;

    background: rgba(54, 194, 89, 0.2);
    box-shadow: inset 0 0 0 2px rgb(54, 194, 89);

    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }

  .page-header__img-text--inner {
    width: 456px;
    height: 80px;
  }
}
