.page-main {
  width: @mobile-width;
  margin: 0 auto;

  text-transform: uppercase;
  text-align: center;
  background-color: @background-page;
}

.page-main--inner {
  width: @mobile-width - 40px;
}


@media(min-width: @tablet-width) {
  .page-main {
    width: @tablet-width;
    margin: 0 auto;
  }

  .page-main--inner {
    width: @tablet-width - 120px;
    margin: 0 auto;
  }
}

@media(min-width: @desktop-width) {
  .page-main {
    width: @desktop-width;
    margin: 0 auto;
  }
}
.page-main__title {
  .indents-zero();
  padding-top: 44px;
  padding-bottom: 37px;

  font-size: 18px;
  line-height: 26px;
}
