.page-header {
  background-color: @background;
}

.page-header__img {
  padding: 0;
  margin: 0;
  margin-top: -28px;
  background-color: #c0ddf0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

/* Первая страница. Картинка выше, надпись другая */
.page-header__img--index {
  width: 320px;
  height: 389px;
  background-position-x: -224px;
  background-position-y: 0;
}

.page-header__img-text--index {
  margin-top: 90px;
  margin-left: 20px;
}

/* Внутренние страницы */
.page-header__img--inner {
  width: 320px;
  height: 158px;
  background-position-x: -224px;
  background-position-y: -230px;
}

.page-header__img-text--inner {
  margin-top: 52px;
  margin-left: 45px;
}
