.page-footer {
  width: @mobile-width;
  margin: 0 auto;

  text-transform: uppercase;
  text-align: center;
  background-color: @background-page;
}

.page-footer--photo {
  padding-top: 30px;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
    padding-top: 10px; //В окончательном варианте с графикой, возможно, надо убрать.
    padding-left: 12px; //В окончательном варианте с графикой, возможно, надо убрать.
    margin: 0 auto;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .page-footer--photo {
    /* Страница фотогалереи имеет отступы по 60px */
    width: @tablet-width - 120px;
    padding-top: 32px;
    padding-left: 0;
  }

  .page-footer__wrapper--photo {
    /* Страница фотогалереи надписи прижаты к краям */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .page-footer {
    width: @desktop-width;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .page-footer--photo {
    padding-top: 80px;
  }
}
