.photogalary__description {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.photogalary__list {
  margin:0;
  padding: 0;
  list-style: none;
}

.photogalary__item {


}
