.photogalary {
  width: @mobile-width - 40px;
  margin: 0 auto;
}

.photogalary__description,
.photogalary__list {
  .indents-zero();
}

.photogalary__description {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 24px;
  color: @text-color-description;
}

.photogalary__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.photogalary__item {
  min-width: 280px;
  min-height: 280px;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .photogalary {
    width: @tablet-width - 120px;
  }

  .photogalary__description {
    .indents-zero();
    padding-bottom: 68px;
    .padding-for-tablet-text();
    font-size: 14px;
    line-height: 24px;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .photogalary__item {
    min-height: 268px;
  }

  .photogalary__description {
    .padding-for-desktop-text();
    padding-bottom: 70px;
  }
}
