.photogalary {
  width: @mobile-width - 40px;
  margin: 0 auto;
}

.photogalary__description,
.photogalary__list {
  .indents-zero();
}

.photogalary__description {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 24px;
  color: @text-color-description;
}

.photogalary__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.photogalary__item {
  position: relative;
  min-width: 280px;
  min-height: 280px;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: @line-color;
  }
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .photogalary {
    width: @tablet-width - 120px;
  }

  .photogalary__description {
    .indents-zero();
    padding-bottom: 68px;
    .padding-for-tablet-text();
    font-size: 14px;
    line-height: 24px;
  }

  /* Убрал разделительные полосы */
  .photogalary__item::before {
    display: none;
  }
}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .photogalary {
    width: @desktop-width;
  }

  .photogalary__item {
    min-height: 264px;
  }

  .photogalary__description {
    .padding-for-desktop-text();
    padding-bottom: 70px;
  }
}
