/* Наши рекомендации */
.recommendations {
  text-transform: uppercase;
  text-align: center;
}

.recommendations__list,
.recommendations__item,
.recommendations__title,
.recommendations__description {
  .indents-zero();
}

.recommendations__list {
  text-align: left;
  list-style: none;
  background-color: @background-page;
}

.recommendations__item {
  padding-left: 70px;
}

.recommendations__title {
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 26px;
  color: @text-color-title;
}

.recommendations__description {
  padding-right: 20px;
  font-size: 14px;
  line-height: 21px;
  color: @text-color-description;
}

.recommendations__title--housing {
  padding-top: 34px;
  padding-bottom: 14px;
}

.recommendations__title--souvenirs {
  padding-top: 28px;
}

.recommendations__title--food {
  padding-top: 28px;
}

.recommendations__description--food {
  padding-bottom: 37px;
}

/* Планшетная версия */
@media (min-width: @tablet-width) {
  .recommendations__list {
    display: flex;
    background-color: @background-page;
  }

  .recommendations__item {
    .indents-zero();
    min-height: 330px; //временно. Для черновой верстки
  }
}
