.social__list {
  display: flex;
  justify-content: space-between;
  width: 152px;
  .indents-zero();
  list-style: none;
}

.social__link {
  display: block;
  width: 46px;
  height: 47px;
}

.social__item {
  background-color: @background-main;
}

.social__link-icon-twitter {
  margin: 17px auto;
  fill: #ffffff;
}

.social__link-icon-facebook {
  margin: 14px auto;
  fill: #ffffff;
}

.social__link-icon-youtube {
  margin: 17px auto;
  fill: #ffffff;
}

.social__link:hover,
.social__link:active {
  background-color: @background-hover;
}

.social__link:active {
  opacity: 0.3;
}
