.videopresentation__title {
  .indents-zero();
  .padding-for-mobile-text();
  padding-top: 28px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 26px;
}

.videopresentation__description {
  .padding-for-mobile-text();
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
}

.videopresentation__img {
  width: 320px;
  height: 202px;
}

.videopresentation__controls {
  width: 280px;
  margin: 0 auto;
}

/* Для мобильной версии одна верстка */
.videopresentation__scale-mobile {
  display: block;
}

/* Для планшетной и десктопной другая версия верстки. Здесь скрыта */
.videopresentation__scale {
  display: none;
}

.videopresentation__scale-mobile {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: -49px;  
  background-color: #000000;
  opacity: 0.6;
}

.videopresentation__scale-mobile::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 58px;
  width: 9px;
  height: 9px;
  background-color: @background-page;
  border-radius: 50%;  
}

.videopresentation__scale-mobile::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 22px;
  width: 236px;
  height: 4px;
  background-color: @background-page;
  opacity: 0.2;
}

.videopresentation__controls-elements {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 66px;
  background-color: #f2f2f2;
}

.videopresentation__button {
  cursor: pointer;
}

.videopresentation__replay,
.videopresentation__subtitles,
.videopresentation__fullscreen {
  fill: #000000;
  opacity: 0.6;
}

.videopresentation__replay {
  margin-left: 25px;
}

.videopresentation__subtitles {
  margin-left: 133px;
}

.videopresentation__fullscreen {
  margin-left: 31px;
}

.videopresentation__replay:hover,
.videopresentation__subtitles:hover,
.videopresentation__fullscreen:hover {
  opacity: 1;
}

.videopresentation__replay:active,
.videopresentation__subtitles:active,
.videopresentation__fullscreen:active {
  opacity: 0.3;
}

/***********************************************/
/*             ПЛАНШЕТНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @tablet-width) {
  .videopresentation__title {
    .indents-zero();
    padding-top: 64px;
    padding-bottom: 12px;
    .padding-for-tablet-text();
    font-size: 30px;
    line-height: 35px;
  }

  .videopresentation__description {
    /* .padding-for-tablet-text(); */
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 60px;
    font-size: 14px;
    line-height: 24px;
  }

  .videopresentation__img {
    width: 648px;
    height: 500px;
  }

  .videopresentation__controls {
    width: 648px;
  }

  /* Для мобильной версии одна верстка. Здесь скрыта */
  .videopresentation__scale-mobile {
    display: none;
  }

  /* Для планшетной и десктопной другая версия верстки. */
  .videopresentation__scale {
    display: block;
  }

  .videopresentation__scale {
    position: relative;
  }
  
  .videopresentation__scale::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 155px;
    width: 9px;
    height: 9px;
    background-color: @background-page;
    border-radius: 50%;  
  }
  
  .videopresentation__scale::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 42px;
    width: 390px;
    height: 4px;
    background-color: @background-page;
    opacity: 0.2;
  }

  .videopresentation__controls-elements {
    margin-top: -98px;
    height: 94px;
    background-color: #000000;
    opacity: 0.6;
  }

  .videopresentation__replay,
  .videopresentation__subtitles,
  .videopresentation__fullscreen {
    fill: #ffffff;
    opacity: 1;
  }

  .videopresentation__replay {
    margin-left: 36px;
  }
  
  .videopresentation__subtitles {
    margin-left: 472px;
  }
  
  .videopresentation__fullscreen {
    margin-left: 32px;
  }

  .videopresentation__replay:hover,
  .videopresentation__subtitles:hover,
  .videopresentation__fullscreen:hover {
    opacity: 0.6;
  }

  /* Нужно добавить этот код, иначе active не будет срабатывать (перебъется hover)*/
  .videopresentation__replay:active,
  .videopresentation__subtitles:active,
  .videopresentation__fullscreen:active {
    opacity: 0.3;
  }

}

/***********************************************/
/*             ДЕСКТОПНАЯ ВЕРСИЯ               */
/***********************************************/
@media (min-width: @desktop-width) {
  .videopresentation {
    /* Временно для верстки */
    min-height: 744px;
  }

  .videopresentation__title {
    padding-top: 66px;
    padding-bottom: 12px;
    .padding-for-desktop-text();
  }

  .videopresentation__description {
    .padding-for-desktop-text();
    padding-bottom: 70px;
  }
}
