.indents-zero() {
  margin: 0;
  padding: 0;
}

.padding-for-mobile-text() {
  padding-left: 28px;
  padding-right: 28px;
}

.padding-for-tablet-text() {
  padding-left: 105px;
  padding-right: 105px;
}

.padding-for-desktop-text() {
  padding-left: 350px;
  padding-right: 350px;
}
