/* Цвета бэкграунда
  #ffffff - общий цвет (для всей страницы)
  #81b3d2 - основной цвет
  #eeeeee - вспомогательный цвет
  #c0ddf0 - фоновый цвет под надпись "Sedona"
*/
@background-page: #ffffff;
@background-main: #81b3d2;
@background-add: #eeeeee;
@background-img: #c0ddf0;

/* Цвета текста
  #ffffff - цвет ссылок
  #000000 - цвет заголовков и выделенного текста (с жирностью)
  #333333 - цвет описательного (вспомогательного) текста
*/
@text-color-link: #ffffff;
@text-color-title: #000000;
@text-color-description: #333333;


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
      local("PT Sans"),
      url("../fonts/ptsans.woff2") format("woff2"),
      url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src:
      local("PT Sans Bold"),
      url("../fonts/ptsansbold.woff2") format("woff2"),
      url("../fonts/ptsansbold.woff") format("woff");
}
